body {
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    color: #d5d5f6;
    text-align: center;
    width: 960px;
}

fieldset {
    width: 700px;
}

.choiceimg {
    width: 200px;
}

.select-choice {
    float: left;
}

other {
    background-color: midnightblue;
}

#avatars {
    display: inline;
}